<div class="container">
    <h2>ATM</h2>
    <div class="form-horizontal">
        <h4>Одобрено</h4>
    </div>
</div>
<div>
    @Html.ActionLink("Назад", "Menu")
</div>
<div>
    @Html.ActionLink("Вернуть карту", "Index")
</div>